fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
aiosqlite
python-multipart
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
psycopg2-binary
pydantic[email]
jinja2
xhtml2pdf
firebase-admin

